extends ./manage_layout.jade

block content  
  h1 Adventure Nodes
  h2 A platform for collaborative storytelling and shared exploration
  
  p An adventure node is like a chatroom with a text adventure game built into it. To jump into a node, just follow the "play" link on one of the nodes below. Watch out - adventure nodes can be interconnected! You never know where you end up. 
    
  h3 Published Nodes
  ul(id='public-nodes-list')
    each node in locals.publicNodes
      li
        h4
          span(class="node-title")=node.title 
          |  by 
          span(class="node-author")=node.author
          | 
          a(class="button-link", style="background-color: " + node.colors.links, href="/" + node.title) play
        div(class="description")=node.description
        //a(href=node.driveLink) see spreadsheet
  
  h3 Your Nodes
  ul(id='created-nodes-list')
    if locals.createdNodes
      each node in locals.createdNodes
        li
          h4
            span(class="node-title")=node.title 
            | 
            a(class="button-link", style="background-color: " + node.colors.links, href="/" + node.title) play
          a(href="#" class="open-details" data-id="#{node._id}") details

  button(id='load-created-nodes') Load nodes created by you

  h3 Create a new node!
  p To get started, enter a title for your node and either start from scratch or base it on one of our examples. All your node's data is stored in google spreadsheets that you can edit alone or together with friends.

  button(id='create-node') Create a new node
  button(id='link-node') Import an existing spreadsheet
  div(class='new-node')
    if locals.node
      include ./node_details_edit.jade
      
  p Here are a few example nodes that showcase different features of the Adventure Nodes platform.
  ul(id='example-nodes-list')
    each node in locals.exampleNodes
      li
        h4
          span(class="node-title")=node.title 
          | 
          a(class="button-link", style="background-color: " + node.colors.links, href="/" + node.title) play
        div(class="description")=node.description
        a(href=node.driveLink) see spreadsheet

