//p
//  label title: 
//  span(class='node-title')= locals.node.title
p
  label by 
  span(class='node-author')= locals.node.author
p
  span(class='node-description')= locals.node.description
p
  label play mode:  
  span(class='node-playmode')= locals.node.playMode
p
  span(style="color: #{locals.node.colors.borders}") border color
  | 
  span(style="color: #{locals.node.colors.links}") link color
p
  a(href=locals.node.driveLink) see spreadsheet
p
  if !locals.node.published
    span This node is not listed publicly, but will still be playable by anyone who has the link.
  else
    span This node is published and will appear in the public list at the top of this page.
  
if locals.notice
  p
    span(class='edit-notice')= locals.notice